/*General*/
body {
	font-family: 'Lato', helvetica, sans-serif;
}
h1, h2, h3, h4 { font-weight: 700; }
p {	font-weight: 400; }
.light { font-weight: 300; }


.bar {
	font-size: 0.6em;
	text-align: right;
	line-height: 1.5em;
	padding-right: 0.25em;
	margin-bottom: 1px;
	background-color: #222;
	color: #fff;
}