/*General*/
body {
	font-family: Garamond, Georgia, serif;
}

@font-face {
    font-family: 'geomanist-ultra';
    src: url('../fonts/geomanist-black-webfont.eot');
    src: url('../fonts/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist-black-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-black-webfont.woff') format('woff'),
         url('../fonts/geomanist-black-webfont.ttf') format('truetype'),
         url('../fonts/geomanist-black-webfont.svg#rectaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 { font-weight: 700; }
h1 { 
	font-family: "geomanist-ultra", Helvetica, arial, sans-serif; 
	font-size: 3.7em;
	margin: 0;
	text-transform: uppercase;
}
p {	font-weight: 400; }
.light { font-weight: 300; }

svg {
}
svg text {
	font-family: Menlo, monospace;
	font-size: 11px;
}
.container {
	width: 960px;
	margin: 0 auto;
}
/*.bar {
	font-size: 0.6em;
	text-align: right;
	line-height: 1.5em;
	padding-right: 0.25em;
	margin-bottom: 1px;
	background-color: #222;
	color: #fff;
}*/

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
  z-index: -1;
}