/*General*/
body {
	font-family: Garamond, Georgia, serif;
	background: #FFFFF7;
}

@font-face {
    font-family: 'geomanist-black';
    src: url('../fonts/geomanist-black-webfont.eot');
    src: url('../fonts/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist-black-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-black-webfont.woff') format('woff'),
         url('../fonts/geomanist-black-webfont.ttf') format('truetype'),
         url('../fonts/geomanist-black-webfont.svg#rectaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanist-light';
    src: url('../fonts/geomanist-light-webfont.eot');
    src: url('../fonts/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/geomanist-light-webfont.ttf') format('truetype'),
         url('../fonts/geomanist-light-webfont.svg#rectaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h4, h5 { font-family: "geomanist-black", Helvetica, arial, sans-serif; text-transform: uppercase;}
h1 {  
	font-size: 3.7em;
	margin: 0;
}
h2 {
	margin-top: 0.2em;
}
h3 { 
	border-bottom: 1px solid #DDCEA0;
    line-height: 1.5em;
    font-size: 2.5em;
    font-weight: 100;
}
.bigAndLight { 
	font-family: "geomanist-light", Helvetica, arial, sans-serif; 
	text-transform: capitalize;
	font-size: 3.5em;
	font-weight: 100;
	margin: 0.2em 0;
	color: #F80404;
}
.bigAndLight small {
	font-family: Garamond, Georgia, serif;
	text-transform: lowercase;
	font-size: 16px;
}
h5 { margin: 0; }
a:hover, a:visited {
	color: #C05E3C;
}
h1 small, h2 small, h3 small, h4 small, h5 small { 
	font-family: "geomanist-light", Helvetica, arial, sans-serif; 
}
p {	font-weight: 400; margin: 0.5em 0; line-height: 1.3em; }
section { padding-top: 1em; }
hr { 
	border: none;
	border-bottom: 1px solid #DDCEA0;
}
.row {
	display: inline-block;
	width: 100%;
}
.row .col {
	float: left;
}
.row .col.two { width: 50%; }
.row .col.three { width: 33.33333333%; }
.row .col.four { width: 25%; }
.row .col.five { width: 66.66666666%; }
.hero {
	display: inline-block;
	padding: 8em 0;
}
.hero h4 {
	margin: 0;
}
.titolo, .compo	{
	width: 50%;
	float: left;
}
.titolo {
	margin: 1.5em 0;
}
.compo img { 
	float: right;
	width: 90%; 
}

.light { font-weight: 300; }

svg text, .chart {
	/*font-family: Menlo, monospace;*/
	font-size: 12px;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.popular p {
	padding-right: 35px;
}
.pizzaTypes, .pizzaPlaces, 
.pizzaHows, .pizzaWhens, .pizzaToppings {
	position: relative;
    border-bottom: 1px solid #DDCEA0;
    margin-bottom: 6px;
}
.pizzaTypes text, .pizzaPlaces text, 
.pizzaHows text, .pizzaWhens text, .pizzaToppings text  {
	font-size: 14px;
	line-height: 20px;
}
.pizzaTypes text.pizzaTypeValue, .pizzaPlaces text.pizzaTypeValue, 
.pizzaHows text.pizzaHowValue, .pizzaWhens text.pizzaWhenValue, .pizzaToppings text.pizzaToppingValue {
	position: absolute;
	right: 10px;
}
.pizzaType, .pizzaPlace, 
.pizzaHow, .pizzaWhen, .pizzaTopping {
	padding-right: 0.5em;
	background-color: #F80404;
	margin-bottom: -1px;
}
.pizzaVote {
	pointer-events: none;
	color: #fff;
}
.pizzaTopping:hover {
	cursor: pointer;
	background-color: #FF9393;
}
#how {
	margin-bottom: 4em;
}
.pizza {
	fill: #F80404;
	/*stroke: #F1D622;*/
	stroke: #FFFFF7;
	stroke-width: 2;
}
#timeline .pizza:last-child {
	/*fill: #880C0C;*/
	fill: #FFFFF7;
    stroke: #F80404;
    r: 5;
}
#timeline .pizza:last-child:hover {
	/*fill: #880C0C;*/
	fill: #F80404;
    stroke: #F80404;
    r: 5;
}
.pizzaPin {
	fill: rgba(248,4,4,.1);
	stroke: #F80404;
	/*stroke: #F1D622;*/
	stroke-width: 1.5;
}
.pizzaPin:hover {
	cursor: pointer;
	fill: rgba(248,4,4,.25);
	stroke: #F80404;
}
.pizza:hover {
	cursor: pointer;
	/*fill: #FF9393;
	stroke: #FBEF9E;*/
	stroke: #F80404;
}
.axis line,
.axis path {
	fill: none;
	stroke: #DDCEA0;
	shape-rendering: crispEdges;
}

.y.axis path {
	display: none;
}

.y.axis line {
	stroke: #DDCEA0;
	stroke-dasharray: 2,4;
	z-index: -1;
}
.tooltip {
	font-size: 0.8em;
	border-radius: 0.3em;
	position: absolute;
	padding: 0.6em;
	pointer-events: none;
	color: #fff;
	background-color: black;
}
.tooltip hr {
	border-bottom: 1px solid white;
}

/* pies */
.phantom-arc:hover path {
	fill-opacity: .5;
	cursor: pointer;
}

polyline{
	stroke: #F80404;
	stroke-width: 1;
	fill: none;
}

/* ingredients */
.mainIngredients {
	margin-bottom: 4em;
}
.mainIngredients.row .col img {
    width: 40%;
    float: left;
}
.mainIngredients.row .col h5 {
    clear: both;
    margin-bottom: 8px;
}
.mainIngredients.row .col div {
	float: left;
    margin-left: 12px;
}
.mainIngredients.row .col p {
	margin: 0
}
.mainIngredients.row .col .bigAndLight {
    margin: 0;
    line-height: 42px;
}
.comp {
	min-height: 100px;
}
label {
	line-height: 14px;
    background: #DDCEA0;
    padding: 0.2em 0.8em;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    display: inline-flex;
}
label.selected {
	background: red;
}

/* map */
.boundary {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}